<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Merging-Data" data-toc-modified-id="Merging-Data-1">Merging Data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#01-Import-libraries" data-toc-modified-id="01-Import-libraries-1.0.1">01 Import libraries</a></span></li><li><span><a href="#02-Import-data" data-toc-modified-id="02-Import-data-1.0.2">02 Import data</a></span></li><li><span><a href="#03-Alter-data-types-to-save-memory" data-toc-modified-id="03-Alter-data-types-to-save-memory-1.0.3">03 Alter data types to save memory</a></span></li><li><span><a href="#03-Check-for-mixed-type-data-in-your-df_ords-dataframe" data-toc-modified-id="03-Check-for-mixed-type-data-in-your-df_ords-dataframe-1.0.4">03 Check for mixed-type data in your df_ords dataframe</a></span></li><li><span><a href="#04-Export-data-to-pkl" data-toc-modified-id="04-Export-data-to-pkl-1.0.5">04 Export data to pkl</a></span></li></ul></li></ul></li></ul></div>

# Merging Data

### 01 Import libraries

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# Set path
path = r'C:\Users\rober_fjs0dbr\OneDrive\Documents\CF Coursework\Python Fundamentals for Data Analysts\11-04-2022 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\rober_fjs0dbr\\OneDrive\\Documents\\CF Coursework\\Python Fundamentals for Data Analysts\\11-04-2022 Instacart Basket Analysis'

### 02 Import data

In [4]:
# import existing data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = None)
df_ords_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = None)

In [5]:
df_ords_prods.shape

(32434489, 4)

In [6]:
df_ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [7]:
# drop columns
df_ords = df_ords.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0'])

In [8]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [9]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
df_ords_prods.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [11]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

### 03 Alter data types to save memory

In [12]:
# Change types for df_ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [13]:
# Check output to see memory usage

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [14]:
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [15]:
df_ords_prods['product_id'] =df_ords_prods['product_id'].astype('int32')
df_ords_prods['reordered']=df_ords_prods['reordered'].astype('int8')
df_ords_prods['add_to_cart_order']=df_ords_prods['add_to_cart_order'].astype('int32')
df_ords_prods['order_id']=df_ords_prods['order_id'].astype('int32')

In [16]:
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

### 03 Check for mixed-type data in your df_ords dataframe

In [17]:
df_ords_prods_merged = df_ords.merge(df_ords_prods, on = ['order_id'], how = 'inner', indicator = True)

In [18]:
df_ords_prods_merged['_merge'].value_counts(dropna = False)

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### 04 Export data to pkl

In [19]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined_v01.pkl'))

In [20]:
df_ords_prods_merged.shape

(32434489, 10)