<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Intro-to-Data-Visualization-with-Python-Merge" data-toc-modified-id="Intro-to-Data-Visualization-with-Python-Merge-1">Intro to Data Visualization with Python Merge</a></span><ul class="toc-item"><li><span><a href="#01-Import-libraries" data-toc-modified-id="01-Import-libraries-1.1">01 Import libraries</a></span></li><li><span><a href="#02-Create-path" data-toc-modified-id="02-Create-path-1.2">02 Create path</a></span></li><li><span><a href="#03-Import-data" data-toc-modified-id="03-Import-data-1.3">03 Import data</a></span></li><li><span><a href="#04-Merge-sample-of-orders_products_merged-dataset-with-customers-dataset" data-toc-modified-id="04-Merge-sample-of-orders_products_merged-dataset-with-customers-dataset-1.4">04 Merge sample of orders_products_merged dataset with customers dataset</a></span></li></ul></li></ul></div>

# Intro to Data Visualization with Python Merge

## 01 Import libraries

In [2]:
import pandas as pd
import numpy as np
import os

## 02 Create path

In [3]:
path = r'C:\Users\rober_fjs0dbr\OneDrive\Documents\CF Coursework\Python Fundamentals for Data Analysts\11-04-2022 Instacart Basket Analysis'

In [4]:
path

'C:\\Users\\rober_fjs0dbr\\OneDrive\\Documents\\CF Coursework\\Python Fundamentals for Data Analysts\\11-04-2022 Instacart Basket Analysis'

## 03 Import data

In [5]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_v05.pkl'))

In [6]:
df_02 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_clean_v02.pkl'))

## 04 Merge sample of orders_products_merged dataset with customers dataset

* Spoke with mentor and decided creating a sample was appropriate due to memory issues

In [7]:
# create a list holding True/False values to the test np.random.rand() <= 0.7

np.random.seed(4)
dev = np.random.rand(len(df)) <= 0.7

In [8]:
# store 70% of the sample in the dataframe big

big = df[dev]

In [9]:
# store 30% of the sample in the dataframe small

small = df[~dev]

In [10]:
len(df)

32404859

In [11]:
len(big) + len(small)

32404859

In [12]:
small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9721098 entries, 0 to 32404850
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   orders_day_of_week             int8
 4   order_hour_of_day              int8
 5   days_since_prior_order         float16
 6   product_id                     float16
 7   add_to_cart_order              float16
 8   reordered                      float16
 9   product_name                   object
 10  aisle_id                       int32
 11  department_id                  int32
 12  prices                         float16
 13  price_range_loc                object
 14  busiest_days                   object
 15  busiest_period_of_day          object
 16  max_order                      int8
 17  loyalty_flag                   object
 18  avg_price                      float16
 19  spender_flag                   object
 20  median_days_since_prior_order  float16
 21  frequency_flag                 object
dtypes: float16(7), int32(4), int8(4), object(7)
memory usage: 908.5+ MB

In [13]:
# Merge sample of orders_products_merged (small) with customers df

df_ords_prods_merged = small.merge(df_02, on = ['user_id'], how = 'inner', indicator = True)

In [14]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,first_name,last_name,gender,state,age,date_joined,number_of_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,2539329,1,1,2,8,NaN,12424.0,3.0,0.0,Original Beef Jerky,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [15]:
df_ords_prods_merged['_merge'].value_counts()

both          9721098
left_only           0
right_only          0
Name: _merge, dtype: int64

In [16]:
# drop '_merge' from df_ords_prods_merged

df_ords_prods_merged = df_ords_prods_merged.drop('_merge', axis=1)

In [17]:
df_ords_prods_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9721098 entries, 0 to 9721097
Data columns (total 31 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   orders_day_of_week             int8
 4   order_hour_of_day              int8
 5   days_since_prior_order         float16
 6   product_id                     float16
 7   add_to_cart_order              float16
 8   reordered                      float16
 9   product_name                   object
 10  aisle_id                       int32
 11  department_id                  int32
 12  prices                         float16
 13  price_range_loc                object
 14  busiest_days                   object
 15  busiest_period_of_day          object
 16  max_order                      int8
 17  loyalty_flag                   object
 18  avg_price                      float16
 19  spender_flag                   object
 20  median_days_since_prior_order  float16
 21  frequency_flag                 object
 22  first_name                     object
 23  last_name                      object
 24  gender                         object
 25  state                          object
 26  age                            int8
 27  date_joined                    object
 28  number_of_dependants           int8
 29  fam_status                     object
 30  income                         int32
dtypes: float16(7), int32(5), int8(6), object(13)
memory usage: 1.4+ GB

In [18]:
##### Export as pickle file

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_all.pkl'))

In [19]:
##### Export sample of orders_products_merged (small) as pickle file

small.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'sample_orders_products_merged.pkl'))